{% extends 'base.html.twig' %}

{% block body %}
{% block navbar %}
    {% include "comics/navBar.html.twig" %}
{% endblock %}

    <div class="details-card">
        <div class="details-card__main">
            <h2 class="details-card__title">{{comic.title}}</h2>
            <img src="{{comic.image}}" class="details-card__content-img">
        </div>
        <div class="details-card__content">
            <p class="details-card__content-description">{{comic.description}}</p>
            <p class="details-card__content-author">{{comic.author}}</p>
            {# <p class="card-text">{{comic.conditionComics}}</p> #}
            <p class="details-card__content-price"><img class= "price" src="{{ asset('price.png', 'comic') }}">{{comic.price}}</p>
            <button class="details-card__content-btn">Send a message to seller</button>
        </div>
    </div>

{% endblock %}