{# {% extends 'base.html.twig' %} #}

        <div class="header">
            <div class="header__mess">
                <img src="{{ asset('comic (1).png', 'comic') }}">
                <a>Messages</a>
            </div>
            <div class="header__login">
                <a class="login" href="{{ path('app_login')}}">LOG IN</a>
            </div>
        </div>

        <div class="navbar">
            <a class="navbar__link" href="{{ path('home') }}">How does it works?</a>
            <a class="navbar__link" href="{{ path('comic-list') }}">Buy</a>
            <a class="navbar__link" href="{{ path('new-comic')}}">Sell</a>
        </div>
